p, h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
}

a, a:hover, a:active {
  outline: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: $light-blue;
}

.container {
  padding: 30px;
  margin-top: 80px;
  background: $white;
}

label {
  display: block;
  margin: 10px 0 0;
}

input[type="text"], textarea {
  resize: none;
  width: 300px;
  max-width: 100%;
}

.btn {
  margin: 10px 5px 0 0;
}

#notice {
  font-size: 16px;
  color: $green;
}

#error_explanation {
  font-size: 16px;
  color: $red;

  h2 {
    font-size: 20px;
  }
}