<div class="container">
  <h1>Editing Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to 'Show', @post, class: 'btn btn-primary' %>
  <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
</div>