<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @post.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-info' %>
  <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
</div>